header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid thin ;
    border-bottom-color: #ffffff;

}


.flex-container {
    display: flex;
    justify-content: space-between;
    
}
.flex-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#newsletter {
    width: 400px;
    display: flex;
}
input[name="email"] {
    width: 70%;
    border: solid; 
    border-color: #ffee00;
    padding: 15px 10px 14px;
}
button {
    border: none;   
}
#btn-form {
    background-color: #000000;
    border-radius: 3px;
}
#btn-ctt {
    margin: 15px;
    width: 150px;
    font-weight: 900;
    font-family: Arial;
    padding: 17px 8px 15px;
}


.btn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 17px 8px 15px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: .5px;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    
    font-weight: 900;
    font-family: Arial;
    fill: #FFF;
    background-color: #000000;
}


.description {
    font-family:'Source Sans Pro', sans-serif;
    font-size: 30px;
    text-align: center;
}
body {
    font-family:'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    margin: 0;
} 

#spaceship {
    
    background-color: #000000;
}

.logo-nome {
    margin: 5px 15px ;
    display: flex;
}
#logo {
    width: 60px;
    height: 70px;
}
#companhia {
    font-family: 'Source Sans Pro', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    padding-top: 12px;

}


.products {
    background-color: rgb(255, 255, 255);
}

#texto-2 {
    width: 60%;
}

.titulo {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #020200;
    text-align: center;
}

.subtitulo {
    
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;

}

.description2 {
    
    max-width: 350px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
}

.flex-line {
    margin: 20px 0px;
    display: flex;
    background-color: #ffffff;
    padding: 3px 0px;
    max-width: 80%;
    border-radius: 2px;
    
}

.presentation {
    margin-top: 80px;
    padding: 0px 30px 15px;
    display: flex;
    background-color: rgb(0, 0, 0);
}

.presentation-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation-img {
    width: 50%;
}

.imagem-principal {
    height: 550px;
    width: 600px;
}

header {
    background-color: rgb(255, 255, 255);
}

a {
    color: inherit;
}

footer {
    text-align: center;
    font-size:16px;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: rgb(255, 230, 0);
    background-color: #000000;
    padding: 5px 0px;
}
